*{
    margin:0px;
    padding:0px;
}

h1,h2 {
    margin:10px;
}

.elemento{
    width:250px;
    height:250px;
    margin-bottom:10px;
    text-align:center;
    color:lightyellow;
    font-size:24px;
}

.elemento-estatico{
    position:static;
    left:100px;
    background-color: crimson;
}

.elemento-relativo{
    position:relative;
    left:100px;
    background-color: coral;
}

.elemento-absoluto{
    position:absolute;
    left:100px;
    background-color: lightpink;
}

.elemento-relativo-pai{
    position:relative;
    background-color: darkcyan;
    left:200px;
}

.elemento-absoluto-filho{
    position:absolute;
    width:100px;
    height:100px;
    background-color: darkmagenta;
    top:20px;
    right:0px;
}