* {
    box-sizing: border-box;
}

.cabecalho figure {
    margin:10px;
}

.logo-pagina{
    width:100px;
}

.rodape {
    background-color: aquamarine;
}

.termos li {
    display:inline;
    margin:0px 20px 0px 0px;
}

.termos {

    background-color: rgb(200, 200, 250);
}

.menu-navegacao li {
    display:inline;
    padding:5px;
    margin:5px;
    border:3px solid #aaeeaa;
}

.menu-navegacao {
    background-color: #ffeeff;
    border:5px solid  rgba(100, 255, 255, 0.6);
    width:380px;
}

.menu-navegacao ul {
    padding:5px 20px;
}

.secao-mais-usados img {
    width: 60px;
}

.secao-mais-usados figure{
    margin:10px;
}

.secao-mais-usados {
    background-color: #ccffcc;
}

.decks {
    padding:0px 30px 10px;
}