.container{
    border:3px solid lightseagreen;
    display:flex;
    max-width: 800px;
}

.item{
    font-size:1.5em;
    margin: 5px;
    background-color: royalblue;
    text-align:center;
    padding:5px;
}