* {
    box-sizing:border-box;
    padding:10px;
}

h1 {
    background-color: rgba(50, 200, 200, 0.8);
    margin:15px;
    width:300px;
    height:70px;
    border:10px solid #aaeeff
}

ul {
    margin:1px;
}
.lista {
    background-color: #ffffaa;
    margin:30px 10px;
    padding:5px 12px;
    width:300px;
    height:220px;
    border:5px solid #aaddee
}

.total {
    font-size:1.2em;
    color:rgb(100, 0,200 );
    margin:5px 2px;
}