p {
    color:lightcyan;
    background-color: lightsalmon !important;
}

.paragrafos-lorem p {
    
    color:blue;
    background-color: aqua;
    font-size:2em;
}

#paragrafo-2 {

    color:white;
    background-color: black;

}