html {
    background-color: coral;
    width: 50%;
}

body {
    background-color: blueviolet;
    width:50%;
    
}


.pai {
    background-color: #e609b4;
    width:50%;
}

.filha {
    background-color: #11e0b5;
    width:50%;
}



